{{!-- HOME PAGE --}}

<section class="home" id="home-page">



    {{!-- LOGIN FORM  --}}
    <div class="container__form container-signup">
        {{!-- SIGN UP FORM  --}}
        <div class="container__form container-signup">
            <form action="#" class="form" id="signup-form">
                <h2 class="form__title">sign up</h2>
                <input type="text" placeholder="email" class="input">
                <input type="text" placeholder="password" class="input">
                <button class="btn">sign up</button>
            </form>
        </div>

        {{!-- LOG IN FORM  --}}
        <div class="container__form container-signin">
            <form action="#" class="form" id="login-form">
                <h2 class="form__title">log in</h2>
                <input type="text" placeholder="email" class="input">
                <input type="text" placeholder="email" class="input">
                <button class="btn">log in</button>
            </form>
        </div>

        {{!-- OVERLAY  --}}
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay-left">
                    <button class="btn" id="signIn">log in</button>
                </div>
                <div class="overlay__panel overlay-right">
                    <button class="btn" id="signUp">sign up</button>
                </div>
            </div>
        </div>
    </div>
</section>