<section class="profile-page">
{{> profile-partial}}
    {{#each posts}}
    <div class="profile-user-info">
        <p>{{name}}</p>
        <p>{{content}}</p>
        <p>{{format_date date_created}}</p>
    </div>
    {{/each}}
</section>