<section class="profile-page">
{{> profile-partial}}

    <div class="profile-user-info blog-form-parent">
        <div class="blog-form-wrapper">
            <form id="blog-form" class="blog-form">
                <label class="blog-label" for="title">title</label>
                <input id="title" class="form-input__title blog-input" name="title" type="text">
                <label class="blog-label title-label" for="post-body">blog away!</label>
                <textarea id="post-body" class="form-input__body blog-input" name="post-body"></textarea>

                <div class="post-btn-wrapper">
                    <h2 for="blog-submit" class="blog-h2" id="post-confirm"></h2>
                    <button id="blog-submit" name="blog-submit" class="blog-post-btn login-logout">post!</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script src="/js/profilePage.js"></script>