<section class="profile-page">
{{> profile-partial}}

    <div class="profile-user-info profile-user">
        <div class="profile-user-info-wrapper-outer">
            <div class="profile-user-info-wrapper">
                <h2 class="profile-user-name">{{first_name}} {{last_name}}</h2>
                <h3 class="profile-email">{{email}}</h3>
            </div>
            
            <div class="profile-user-info-wrapper change-creds-wrapper">
                <a class="change-creds">change your email</a>
                <a class="change-creds">change your password</a>
            </div>
        </div>
    </div>
</section>
<script src="/js/profilePage.js"></script>