* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.nav-item {
    list-style-type: none;
    display: inline;
    text-decoration: none;
    color: white;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #102336;
    height: 3rem;
}

.nav-left, .nav-right {
    margin: 0 1.5rem;
    color: white;
}

.login-logout {
    background: blue;
    padding: 3px 1rem;
    border-radius: 10px;
}

/* LOGIN PAGE  */

.login-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 90%;
    margin: 0 15%;
    background: orchid;
}

.sign-up-hero,
.log-in-hero {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 15rem;
}

.log-in__auth {
    display: flex;
    flex-direction: column;
}

.signup-form {
    display: flex;
    flex-direction: column;
}