@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --dmsans: 'DM Sans', sans-serif;
    --dblue: #010015;
    --bgblue: #03003f;
    --lblue: #4cbe9f;
    --btnhvr: #39a789;
    --btnclck: #1b6954;
    --btnshadow: #155c49;
    --white: #ffffff;
    --disabled: #838383;

    --bdr: 2px solid var(--lblue);
}

body {
    height: 100vh;
}

i {
    color: var(--white);
    margin-top: 1rem;
    width: 2rem;
}

.nav-item {
    font-family: var(--dmsans);
    font-size: 120%;

    display: inline;
    list-style-type: none;
    text-decoration: none;
    color: var(--white);
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: var(--dblue);
    border-bottom: var(--bdr);
    height: 7vh;
}

.home-ftr {
    position: absolute;
    width: 100vw;
    bottom: 0;

    border-top: var(--bdr);
    border-bottom: none;
}

.nav-left, .nav-right {
    margin: 0 1.5rem;
    color: white;
}

.nav-right > .nav-item {
    margin-left: 0.5rem;
}

.login-logout {
    background: var(--lblue);
    padding: 3px 1rem;
    border-radius: 10px;
    margin-left: 0.5rem;
    transition: 200ms ease-in-out;
}

/* ANIMATION  */
.login-logout:hover,
.login-logout:focus {
    background: var(--btnhvr);
    box-shadow: 1px 1px 1px var(--btnshadow);
}

.login-logout:active {
    background: var(--btnclck);
}

/* HOME PAGE */
.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 86vh;
}

.blog-post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 2rem 0;
    padding: 1rem 3rem;
    border: 5px solid var(--lblue);
    border-radius: 10px;
    background: var(--dblue);
    color: white;
    width: 40vw;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: var(--dmsans);
}

.poster-name {
    font-size: 100%;
}

.comment-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-body {
    font-family: var(--dmsans);
}

.post-date {
    font-size: 120%;
}

.fa-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* LOGIN PAGE  */

.login-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 90%;
    margin: 0 15%;
    background: orchid;
}

.sign-up-hero,
.log-in-hero {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 15rem;
}

.log-in__auth {
    display: flex;
    flex-direction: column;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

/* PROFILE PAGE  */
.profile-page {
    display: flex;

    height: 90%;
    width: 100vw;
    background: var(--white);
}

.profile-nav {
    height: 100%;
    width: 5rem;
    border-right: var(--bdr);
    background: var(--dblue);
}

.profile-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-user-info {
    display: grid;
    margin: auto;

    background: var(--dblue);
    padding: 2rem 5rem;
    border: 5px solid var(--lblue);
    border-radius: 10px;
}

.profile-user-info-wrapper-outer {
    display: flex;
    flex-direction: row;
}

.profile-user-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 1.5rem;
}

.change-creds {
    font-family: var(--dmsans);
    font-size: 80%;
    color: var(--disabled);
    margin-bottom: 2px;
    cursor: pointer;
}

.profile-user-name,
.profile-email {
    font-family: var(--dmsans);
    color: var(--white);
}

/* BLOG POST FORM  */
.blog-label {
    font-family: var(--dmsans);
    color: var(--white);
}

.title-label {
    margin-top: 0.3rem;
}

.blog-form {
    display: flex;
    flex-direction: column;
}

.blog-input {
    width: 25rem;
}

.form-input__title {
    height: 1.5rem;
    padding: 0 5px;
    border: none;
}

.form-input__body {
    height: 15rem;
    padding: 5px;

    resize: vertical;
}

.post-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-post-btn {
    font-family: var(--dmsans);
    color: var(--white);    
    border: none;
    border-radius: 5px;
    margin-top: 0.3rem;
}